.modal {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(241, 238, 233, 0.16) 0%,
    #f1eee9 100%
  );
}

.label {
  color: #606060;
  cursor: text;
  font-family: "NeueHaasUnicaUltraLight";
  font-size: 25px;
  font-weight: 200;
  left: 70px;
  margin-top: 6px;
  position: absolute;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: "CooperBTLight";
  src: url("./fonts/MyFontsWebfontsKitCoper/webFonts/CooperBTLight/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKitCoper/webFonts/CooperBTLight/font.woff")
      format("woff");
}

@font-face {
  font-family: "NeueHaasUnicaHeavy";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaHeavy/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaHeavy/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaLight";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaLight/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaLight/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaLightItalic";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaLightItalic/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaLightItalic/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaMediumItalic";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaMediumItalic/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaMediumItalic/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaBold";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaBold/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaBold/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaRegular";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaRegular/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaRegular/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaBoldItalic";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaBoldItalic/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaBoldItalic/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaThinItalic";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaThinItalic/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaThinItalic/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaUltraLight";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaUltraLight/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaUltraLight/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaItalic";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaItalic/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaItalic/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaExtraBlackItalic";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaExtraBlackItalic/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaExtraBlackItalic/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaMedium";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaMedium/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaMedium/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaThin";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaThin/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaThin/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaBlack";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaBlack/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaBlack/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaExtraBlack";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaExtraBlack/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaExtraBlack/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaBlackItalic";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaBlackItalic/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaBlackItalic/font.woff")
      format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaHeavyItalic";
  src: url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaHeavyItalic/font.woff2")
      format("woff2"),
    url("./fonts/MyFontsWebfontsKit/webFonts/NeueHaasUnicaHeavyItalic/font.woff")
      format("woff");
}
