.header {
  width: 100%;
  text-align: center;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "CooperBTLight";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
}

.header__logo {
  position: absolute;
  top: 48px;
  left: 54px;
}


@media screen and (max-width: 768px) and (min-width:375px){
    .header__title{
        display: none;
    }

    .header__logo{
        display: block;
        position: inherit;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}